.background-overlay {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -2; 
}
.video-dimmer {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 0; 
    pointer-events: none; 
}
body, html {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    overflow-x: hidden; 
    overflow-y: auto; 
    font-size: 16px;
}

.background-video {
    position: absolute;  
    top: 0; 
    left: 50%; 
    transform: translateX(-50%) translateY(60vh); 
    width: 70vh; 
    height: 35vh;  
    z-index: -1; 
    pointer-events: none; 
    object-fit: contain; 
    margin-top: 9vh;
    /* iOS specific fixes */
    -webkit-transform: translateX(-50%) translateY(60vh);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Make sure video plays */
    background-size: contain;
}
.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.particle {
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    opacity: 0.5;
}

@keyframes moveParticle {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(var(--moveX1), var(--moveY1));
    }
    50% {
        transform: translate(var(--moveX2), var(--moveY2));
    }
    75% {
        transform: translate(var(--moveX3), var(--moveY3));
    }
}

.container {
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
    min-height: 100vh;
    position: relative; 
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    flex: 1;
    z-index: 5;
}

.title h1 {
    font-size: 54px;
    font-weight: 525;
    margin-bottom: 0;
    letter-spacing: -0.06em;
}

.title h2 {
    font-size: 75px;
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 5px 0;
    letter-spacing: 0.01em;
}

p {
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.email-container {
    display: flex;
    width: 35%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: visible;
    transition: box-shadow 0.3s ease;
    z-index: 6;
    min-width: 300px;
}

.email-container:focus-within {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
    
}

button {
    padding: 5px 10px; 
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px; 
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 10px;
    cursor: pointer;
    transition: all 0.2s ease; 
    outline: none;
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #f0f0f0;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

button:hover::after {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}
.notify-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5625rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0 8px 8px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    outline: none;
    position: relative;
    z-index: 1;
    min-width: 25%; 
    font-size:calc(1px + 1.1vw);
    height: 3.125rem; 
}
@media (max-width: 768px) {
    .notify-button {
        font-size:calc(4px + 1.1vw);
    }

    p {
    font-size: 16px;
    }
    .background-video {
    width: 50vh;  
    height: 25vh;  
    margin-top: 7vh; 
    }
}

@media (max-width: 600px) {
    .notify-button {
        font-size:calc(6px + 1.1vw);
    }
}

.notify-button:hover {
    background-color: #f0f0f0;
}

.notify-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notify-button:hover::after {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.notify-button #buttonText, 
.notify-button #loadingWheel {
    position: absolute; 
    display: inline-block; 
}

.notify-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.loading-wheel {
    display: none; 
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; 
    border-top-color: black; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type="email"] {
    flex: 1;
    padding: 15px 20px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
    position: relative;
    z-index: 1;
}

.badge {
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0.3125rem 0.9375rem; 
    font-size: 0.875rem; 
    margin-top: 0.3125rem; 
}

.badge span {
    color: rgba(255, 255, 255, 0.7);
}

.badge .divider {
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.3);
}
.notification {
    position: fixed;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #000; 
    color: white;
    padding: 10px 15px; 
    border-radius: 6px; 
    border: 1px solid #555; 
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    max-width: 500px; 
    font-size: 14px; 
    
}

.notification-content {
    display: flex;
    align-items: center;
}

.notification-icon {
    display: inline-block;
    background: #000; 
    border: 1px solid #555; 
    padding: 8px; 
    border-radius: 4px; 
    margin-right: 15px; 
}

.notification-icon img {
    display: block; 
    width: 20px; 
    height: auto;
}

.notification-text {
    display: block;
    margin: 0 0 0px 0; 
}

.notification-text p {
    font-size: 13px; 
    margin: 2px; 
}

.notification-close {
    background-color: white; 
    color: black; 
    border: none;
    padding: 10px 15px;
    border-radius: 8px; 
    font-size: 12px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.notification-close:hover {
    background-color: #f0f0f0; 
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
}

.shake {
    animation: shake 0.25s ease-in-out;
}

footer {
    position: relative;  
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1); 
    text-align: center;
    z-index: 1000;
  
}

.footer-separator {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 100%;
}

.footer-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}
.animate-element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-element.show {
    opacity: 1;
    transform: translateY(0);
}

.animate-element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-element.show {
    opacity: 1;
    transform: translateY(0);
}